  <div class="recover-container">
    <form id="recover-form" class="recover-form" action="/api/session/recover" method="POST">
      <h2>Recuperar contrase침a</h2>
      <div class="form-group">
        <label for="email">Ingrese su direcci칩n de correo electr칩nico:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <button id="recoverPassword" type="submit">Recuperar contrase침a</button>
    </form>
  </div>
  