<div>
    <h2>Desea actualizar a usuario premum?</h2>
    <br>
    <button id="update-user">Actualizar</button>
    <button id="go-back">Volver</button>
    <div id="user" style="display: none;">{{userId}}</div>
</div>
<script src="/js/updateUser.js"></script>